<%- include('./layouts/header.ejs') %>

<title>JobList</title>
</head>

<%- include('./layouts/cabecalho.ejs') %>

    <body>
        <br>
        <br>
        <br>
        <h1>Página em construção</h1>
    </body>

    <%- include('./layouts/footer2.ejs') %>