<%- include('./layouts/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="../styles/formularios.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/users.js"></script>
    <title>JobList | Registar</title>
    </head>

    <%- include('./layouts/cabecalho.ejs') %>

        <div class="myForm" id="registarForm">
            <h2>Registar</h2>
            <label for="emailRegistar">Email</label>
            <input type="email" name="emailRegistar" id="emailRegistar" class="myFormElem" placeholder="Email" required>

            <label for="nameRegistar">Nome</label>
            <input type="text" name="nameRegistar" id="nameRegistar" class="myFormElem" placeholder="Nome" required>

            <label for="passwordRegistar">Password</label>
            <input type="password" name="passwordRegistar" id="passwordRegistar" class="myFormElem"
                placeholder="Password" required>

            <div>
                <label for="role">Tipo de utilizador:</label>
                <select id="role" class="myFormElem" name="role" required>
                    <option value="" selected hidden>Profissional/Empresa</option>
                    <option value="user">Profissional</option>
                    <option value="company">Empresa</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>
            <p id="estado"></p>

            <button id="btnRegistar" class="Btn" onclick="registarUser()">Registar</button>
            <p>Já se registou? Clique em baixo se já tem uma conta registada</p>
            <a id="registarLink" class="link" href="/login">Login</a>
        </div>

        <%- include('./layouts/footer2.ejs') %>