<%- include('./layouts/header.ejs') %>
<link rel="stylesheet" type="text/css" href="../styles/sobre_nos.css">
<title>JobList</title>
</head>

<%- include('./layouts/cabecalho.ejs') %>

    <main class="feedAboutUS">
        <section class="descricao">
            <div class="sobreNos">
                <h2>O que é a JobList</h2>
                <p>
                    JobList é uma startup que começou agora a dar os seus primeiros passos no mercado. No momento
                    conta
                    com uma equipa formada pelos dois co-founders e o seu foco principal é area do desenvolvimento
                    web.
                </p>
                <br>
                <h2>Missão</h2>
                <p>A missão da JobList é simplificar e melhorar o dia-a-dia dos nossos clientes através dos serviços
                    prestados de modo a tornar mais fácil a existência de um ambiente mais produtivo e com maior
                    probabilidade de sucesso.
                </p>

                <h2>Quem somos nós?</h2>
                <p>A ideia da JobList teve a sua primeira faísca após uma longa troca de ideias e conversa entre os
                    dois co-founders João Quintiliano e Daniel Santos, que passado umas semanas decidiram embarcar
                    neste
                    aventura.
                    <br>
                    Ambos têm um curriculo académico muito idêntico, contam com experiencia e conhecimentos em
                    variadas
                    áreas como eletrónica, eletricidade, automação e informática.
                </p>

                <br>
                <h3>Co-founders</h3>
                <p>
                    Daniel Santos <br>
                    Email: 201902061@estudantes.ips.pt
                </p>
                <br>
                <p>
                    João Quintiliano <br>
                    Email: 201900287@estudantes.ips.pt
                </p>
            </div>
        </section>
    </main>

    <%- include('./layouts/footer2.ejs') %>