<%- include('./layouts/header.ejs') %>
<link rel="stylesheet" type="text/css" href="../styles/vagas.css">
<script src="../scripts/vagas.js"></script>
<title>JobList | Vagas</title>
</head>

<%- include('./layouts/cabecalho.ejs') %>

    <main class="feedVagas">
        <section>
            <div id="addVaga">
                <form action="/formVaga">
                    <input class="addBtn" type="submit" value="Publicar Vaga +" />
                </form>
            </div>
            <hr>

            <div class="filtros">
                <select id="filter" name="filter">
                    <option value="0" selected hidden>Filtrar</option>
                    <option value="1">Duração</option>
                    <option value="2">Área</option>
                    <option value="3">Duração/Área</option>
                </select>

                <select id="ordenar" name="ordenar">
                    <option value="0" selected hidden>Ordenar</option>
                    <option value="1">Valor (crescente)</option>
                    <option value="2">Valor (decrescente)</option>
                    <option value="3">Data de validade (crescente)</option>
                    <option value="4">Data de validade (decrescente)</option>
                </select>

                <input type="button" id="btnFiltrar" name="btnFiltrar" value="Filtrar" />
                <input type="button" id="btnLimparFiltro" name="btnLimparFilter" value="Reset" />
            </div>

            <section class="listaVagas">
                <div class="vaga">
                    <h3>TELUS </h3>
                    <hr>
                    <p>About TELUS International AI

                        We help companies test and improve machine learning models via our global AI Community of 1
                        million+ annotators and linguists. Our proprietary AI training platform handles all data
                        types
                        (text, images, audio, video, and geo) across 500+ languages and dialects. Our AI Data
                        Solutions
                        vastly enhance AI systems across a range of applications from advanced smart products to
                        better
                        search results, to expanded speech recognition, to more human-like bot interactions and so
                        much
                        more.

                        The Role - AI Community Surfer (formerly known as Search Engine Evaluator)

                        You will be evaluating different task types to research which is better or analyzing a query
                        and
                        selecting the most relevant response to the query.

                        Join our AI Community where you can earn a fixed amount for each quality task completed.


                        This is a freelance, flexible role and it is up to you when you work from the comfort of
                        your
                        own home.


                        *Please note:

                        This is a pay per task role, there is no set hourly rate you determine what you earn.

                        The amount you earn each month can vary; we cannot guarantee a set amount.

                        Do you have the following?

                        Full working proficiency in English and Portuguese.
                        Residing in PORTUGAL
                        A keen interest in the internet.
                        Good attention to detail.
                        Ability to work independently.
                        Access to a high-speed internet connection and your own laptop / desktop with the latest
                        version
                        of Windows, all provided at your own expense. Working on other OS or mobile devices is not
                        supported currently.
                        A Live ID.

                        What' next?


                        Create an account using the "Apply button or link below", click the "Sign Up" button and
                        fill
                        the required fields. An email confirmation will be sent to your email to set your password
                        and
                        account. Then select PORTUGAL as your country and PORTUGUESE as your primary language. Then
                        complete the registration process, do not forget to click the "Apply" button to start your
                        application process for the project.

                        Important notice: TELUS International will never request a monetary deposit for any role or
                        project with the company, and our recruitment and sourcing teams only use
                        @telusinternational.com or @telusinternational.ai addresses when emailing candidates. If you
                        are
                        unsure as to whether a job offer is legitimate, please contact us at
                        TI_AICommunitySupport@telusinternational.com for confirmation.


                        This is a freelance, independent contractor position.</p>
                    <hr>
                    <p></p>
                    <hr>
                    <p></p>
                    <hr>
                    <p>5.000€/mes</p>
                    <hr>
                    <p>Oferta válida até</p>
                    <p>12/4/2026</p>
                    <form action="">
                        <input class="candidateBtn" type="submit" value="Candidatar-se" />
                    </form>
                </div>

                <div class="vaga">
                    <h3>Empresa de CiberSegurança</h3>
                    <hr>
                    <p>Procura se consultor informático.... Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Dolorem aspernatur suscipit assumenda iste vitae nihil aperiam soluta qui, quibusdam hic,
                        sunt
                        nesciunt maxime, consequuntur odit necessitatibus tenetur veniam nam corrupti!
                        Tempora fuga modi est nihil iste soluta ipsam, inventore provident deserunt fugit
                        voluptatem, at
                        suscipit voluptatibus tenetur tempore eligendi doloremque eum minima! Qui incidunt veritatis
                        illo! Ullam iusto ab quae.
                        Itaque nobis pariatur eum ex dolores id rerum repellat placeat voluptatem, nulla, quae,
                        perferendis nemo deleniti fuga commodi. Ducimus atque suscipit nesciunt omnis incidunt
                        fugiat
                        error neque quaerat consequatur porro.
                        Doloribus repellat fugiat ducimus voluptates dolores recusandae, impedit error doloremque
                        iusto
                        eius totam odio, at, quaerat dicta fugit quisquam explicabo cum accusamus molestias odit
                        vero
                        cumque nostrum libero? Consectetur, eum!
                        Blanditiis cupiditate commodi eveniet dolore nam earum nobis voluptate delectus ipsum quo
                        aspernatur iusto rerum error, ipsa perferendis ullam officiis at neque, quis tenetur beatae
                        dolor voluptates qui ab? Error!
                        Atque saepe modi voluptatibus laborum perspiciatis quam magnam eaque excepturi tenetur a
                        temporibus iure illo voluptatum perferendis dolor, nam nisi veniam. Et, inventore eos
                        deserunt
                        nemo cum consequatur corporis recusandae.
                        Voluptates quisquam ipsa id! Voluptate quisquam quidem beatae cupiditate vel corporis neque
                        voluptas minima ipsum, dolor temporibus quae consectetur voluptatibus labore accusamus ad!
                        Nihil
                        accusantium quod, esse fugit vero et?
                        Id quaerat doloribus repellat accusamus dolorem nisi illo dicta illum nihil deleniti? Velit
                        dignissimos ducimus illum, ipsum officiis esse, perspiciatis sed impedit architecto corporis
                        enim reprehenderit, labore ratione alias corrupti.
                        Id tempora quibusdam aliquam in, eum incidunt quae enim hic. At odit iste quae quibusdam
                        fuga
                        omnis nostrum! Quos impedit nam quidem obcaecati eveniet hic aspernatur iste qui perferendis
                        tempore!
                        Nobis corrupti autem adipisci porro, libero sequi mollitia quos. In ipsam explicabo sequi
                        perspiciatis minus inventore dolor saepe neque quibusdam beatae, odio, itaque aliquam
                        voluptatibus, cum blanditiis distinctio atque voluptatem?</p>
                    <hr>
                    <p>CiberSegurança</p>
                    <hr>
                    <p></p>
                    <hr>
                    <p>20.000€/mes</p>
                    <hr>
                    <p>Oferta válida até</p>
                    <p>4/5/2023</p>
                    <form action="">
                        <input class="candidateBtn" type="submit" value="Candidatar-se" />
                    </form>
                </div>

                <div class="vaga">
                    <h3>Empresa de web development</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quis libero eum vel,
                        assumenda,
                        veniam eligendi consequatur debitis, laborum voluptate mollitia. Eos enim placeat labore ex
                        at
                        atque aspernatur sequi?
                        Minus dignissimos quos ipsum. Doloremque consectetur magni deserunt, quisquam ipsa eaque
                        repellat aut a totam perspiciatis maiores voluptates delectus molestias blanditiis iure
                        facilis
                        iusto quas itaque obcaecati odio ad ipsum!
                        Qui aperiam mollitia nulla. Laudantium quas necessitatibus id voluptatibus dolorem odit,
                        beatae
                        nemo maxime quod, exercitationem repudiandae ipsum aliquid sapiente in rem minima eius. Ab
                        nemo
                        quis sed magnam error!</p>
                    <hr>
                    <p>CiberSegurança</p>
                    <hr>
                    <p>5 meses</p>
                    <hr>
                    <p>10.000€/mes</p>
                    <hr>
                    <p>Oferta válida até</p>
                    <p>4/5/2030</p>
                    <form action="">
                        <input class="candidateBtn" type="submit" value="Candidatar-se" />
                    </form>
                </div>
            </section>

        </section>
    </main>


    <%- include('./layouts/footer1.ejs') %>