<%- include('./views/layouts/header.ejs') %>
<link rel="stylesheet" type="text/css" href="./styles/index.css">
<title>JobList</title>
</head>

<%- include('./views/layouts/cabecalho.ejs') %>

    <main class="feed">
        <section class="publicações">
            <div id="publicacao">
                <p>Nome da empresa/utilizador</p>
                <p>Possivel descrição/informação extra</p>
                <!--se necessário tentar mudar automaticamente o tamanho da imagem através de javascript. 
                    Se a imagem for superior a um tamanho é colocado o tamanho maximo-->
                <img src="./images/Logo_2.png">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio, quod repudiandae! Qui officia dolores ipsa nulla corrupti facilis,
                    nemo eius ut consequuntur repellat aliquid saepe adipisci corporis molestias alias quod.</p>
            </div>
            <div id="publicacao">
                <p>Nome da empresa/utilizador</p>
                <p>Possivel descrição extra</p>
                <img src="../images/Logo.png">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio, quod repudiandae! Qui officia dolores ipsa nulla corrupti facilis,
                    nemo eius ut consequuntur repellat aliquid saepe adipisci corporis molestias alias quod.</p>
            </div>
            <div id="publicacao">
                <p>Nome da empresa/utilizador</p>
                <p>Possivel descrição extra</p>
                <img src="./images/Logo_3.png">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio, quod repudiandae! Qui officia dolores ipsa nulla corrupti facilis,
                    nemo eius ut consequuntur repellat aliquid saepe adipisci corporis molestias alias quod.</p>
            </div>
        </section>
    </main>

    <%- include('./views/layouts/footer1.ejs') %>