<body>
    <header>
        <form action="/">
            <input id="titulo" type="submit" value="JobList">
        </form>
        <div class="cabeçalho">
            <nav>
                <ul>
                    <li><a id="menuLinks" href="/">Home</a></li>
                    <li><a id="menuLinks" href="/vagas">Vagas</a></li>
                    <li><a id="menuLinks" href="/procurar">Procurar</a></li>
                    <li><a id="menuLinks" href="/sobrenos">Sobre nós</a></li>
                    <li><a id="menuLinks" href="/perfil">Perfil</a></li>
                    <li><a id="menuLinks" href="/logIn">Log In</a></li>
                    <li><a id="menuLinks" href="/registar">Registar</a></li>
                    <li><a id="menuLinks" href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>