/*HOME/index*/
.feed {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

header+.feed {
    padding-top: 50px;
}

#publicacao {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 30px;
    width: fit-content;
    max-width: 30%;
    margin: 10px auto;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
}