/*PERFIL*/
.feedProfile {
    padding-top: 40px;
}

.perfil {
    width: 85%;
    margin: auto;
}


#profileBackground {
    max-width: 100%;
    height: 250px;
    /*margin: auto;*/
    border-radius: 0 0 30px 30px;
    background-image: url(../images/wallpaper3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#divProfileImg {
    height: 100px;
    width: 100px;
    margin: 10px auto 5px;
    border-radius: 50%;
    overflow: hidden;
}

#nomeUsr {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    font-size: 150%;
}

/***********************************************************************************************/
/*ÁREA DE GESTÃO DO PERFIL*/
#gestao {
    width: 55%;
    margin: auto;
    margin-top: 5px;
    /*display: inline-flex;*/
}

.btnPerfil {
    font-size: 17px;
    font-weight: bold;
    width: fit-content;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-right: 10px;
    padding: 0px 10px;
    cursor: pointer;
}

/***********************************************************************************************/
/*ÁREA DE DESCRIÇÃO DO PERFIL*/
.descricaoPerfil h2 {
    margin: 5px 0px 5px;
}

.descricaoPerfil,
.trabalho {
    width: 55%;
    margin: auto;
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 15px;
}

.trabalho {
    margin-top: 10px;
}

.addTrabalho,
.addFormation {
    margin: auto;
}

/***********************************************************************************************/
/*ÁREA DE AMIGOS DO PERFIL*/
#listaAmigos {
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.message,
.amigo {
    display: inline-flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 30px;
    width: 50%;
    padding: 15px;
    margin: 0px auto 15px;
}

.btnActionAmigo {
    float: right;
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: fit-content;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: #A52422;
    padding: 0px 10px;
    cursor: pointer;
}

/***********************************************************************************************/
/*ÁREA DE GESTÃO DE PROFISSIONAIS-ADMIN*/
.user {
    display: inline-flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 30px;
    width: 50%;
    padding: 15px;
    margin: 0px auto 15px;
}

.btnAdmin {
    float: right;
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: fit-content;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: #A52422;
    padding: 0px 10px;
    cursor: pointer;
}